@model HotelManager.Models.RoomTypeRoomVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Description Room  @Html.DisplayFor(model => model.Num): </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kichen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kichen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Add_info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Add_info)
        </dd>
        
    </dl>
    @foreach(string s in Model.BlobLinkPhoto)
    {
        <img src=@s width="200px" height="150px"/>
    }
</div>
